-e git+https://github.com/MVIG-SJTU/AlphaPose.git@038435e060a4e1194d9a6e8fef51b3730c5a21f0#egg=alphapose
certifi==2020.11.8
chardet==3.0.4
click==7.1.2
cycler==0.10.0
cython-bbox @ git+https://github.com/yanfengliu/cython_bbox.git@e7b95b6dc0933b10bd0ec02b90755a12ca996c68
dataclasses==0.8
easydict==1.9
filelock==3.0.12
Flask==1.1.2
future==0.18.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
jsonpatch==1.26
jsonpointer==2.0
MarkupSafe==1.1.1
munkres==1.1.4
natsort==7.0.1
numpy==1.19.4
packaging==20.5
Pillow==8.0.1
protobuf==3.14.0
pycocotools==2.0.2
pyparsing==2.4.7
pyzmq==19.0.2
regex==2020.11.13
requests==2.25.0
sacremoses==0.0.43
sentencepiece==0.1.91
six==1.15.0
tensorboardX==2.1
terminaltables==3.1.0
timm==0.1.20
tokenizers==0.8.0rc4
torch==1.5.0+cpu
torchfile==0.1.0
torchvision==0.6.0+cpu
tqdm==4.54.0
transformers==3.0.0
urllib3==1.26.2
visdom==0.1.8.9
websocket-client==0.57.0
Werkzeug==1.0.1
